# Google APIs key. Learn more about this here - https://developers.google.com/youtube/v3/getting-started#before-you-start
youtubeKey: ''

# The playlist ID to import tracks from
playlistId: ''

# Contenttype to import the videos to
contenttype: ''

# Text to remove from the titles. Make sure they are within quotation marks
exclude:
    - "Official Video"
    - "Music Video"
    - "()"
    - "[]"
    - "(Audio)"

###
# Default settings
###
#
# Where to store video thumbnails within bolts upload directory
# uploadPath: 'tracks/'
#
# Change mapping with your contenttype
# mapping:
#     title: title
#     youtubeid: youtubeid
#     image: image
#
# Set the owner of the new entry being created
# userid: 1
#
# How many pages of vidoes to fetch? One page has a maximum of 50 videos
# pages: 1
#
# Should double spaces also be removed before importing?
# doublespaces: true
#
# Convert titles into a normal version. Example 'YoTuBE vidEO' would become 'Youttube Video'
# normalize: true